/* CSS declarations go here */
body {
    background: #FEFEFE;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

h1 {
    color: #3598CC;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 250px;
}

.textarea-message {
    border-radius: 0.2em;
    height: 100px;
    margin-left: 100px;
    width: 600px;
}

#send-btn {
    background-color: #3598CC;
    border: 0;
    border-radius: 0.2em;
    color: #ffffff;
    float: left;
    height: 40px;
    margin: 0 auto;
    margin-left: 100px;
    width: 100px;  
}

.message-container {
    margin: 10px 100px;
}